@model AgendaTelefonicaWeb.Models.ViewModels.ContatoTelefoneViewModel

@{
    ViewData["Title"] = "Cadastrar Contato";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h4>Contato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contato.Nome" class="control-label"></label>
                <input asp-for="Contato.Nome" class="form-control" />
                <span asp-validation-for="Contato.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Idade" class="control-label"></label>
                <input asp-for="Contato.Idade" class="form-control" />
                <span asp-validation-for="Contato.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Números de Telefone</label>
                <div id="telefonesContainer">
                    <div class="input-group mb-2 telefone-group">
                        <input asp-for="Numero[0]" type="text" class="form-control telefone" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-danger remover-telefone" disabled>
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Numero[0]" class="text-danger"></span>
                    </div>
                </div>
                <button type="button" id="adicionarTelefone" class="btn btn-sm btn-outline-primary mt-2">
                    <i class="fas fa-plus"></i> Adicionar outro telefone
                </button>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastro" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary"> Voltar </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
