@model AgendaTelefonicaWeb.Models.ViewModels.ContatoTelefoneViewModel

@{
    ViewData["Title"] = "Editar Contato";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h4>Contato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contato.Id" />
            <div class="form-group">
                <label asp-for="Contato.Nome" class="control-label"></label>
                <input asp-for="Contato.Nome" class="form-control" />
                <span asp-validation-for="Contato.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Idade" class="control-label"></label>
                <input asp-for="Contato.Idade" class="form-control" min="1" max="130" step="1" oninput="validity.valid||(value='');" />
                <span asp-validation-for="Contato.Idade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Números de Telefone</label>
                <div id="telefonesContainer">
                    @for (var i = 0; i < Model.Numeros.Count; i++)
                    {
                        <div class="input-group mb-2 telefone-group">
                            <input asp-for="Numeros[i]" type="text" class="form-control telefone" />
                            <input type="hidden" asp-for="TelefonesIds[i]" /> 
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger remover-telefone"
                                @(Model.Numeros.Count == 1 ? "disabled" : "")>
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Numeros[i]" class="text-danger"></span>
                        </div>
                        <span asp-validation-for="Numeros" class="text-danger"></span>
                    }
                </div>
                <button type="button" id="adicionarTelefone" class="btn btn-sm btn-outline-primary mt-2">
                    <i class="fas fa-plus"></i> Adicionar outro telefone
                </button>
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i> Salvar
                </button>

                <a asp-action="Index" class="btn btn-secondary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
